.navbar {
  position: absolute;
  z-index: 99;
  width: 100vw;
  padding: 50px 20px;
  height: 50px;
  top: 0;
}

.nav-item {
  margin-left: 30px;
}

@media only screen and (max-width: 1024px) {
  .navbar-nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    height: 300%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 20px 0 20px;
  }

  .navbar .navbar-toggler {
    z-index: 200;
  }

  .nav-item {
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 80vw;
    text-align: center;
  }
}
